canvas{
animation-name: example;
animation-duration: 5s;
animation-iteration-count: infinite;
}
@keyframes example{
from{box-shadow: 5px 5px 38px red;}
to{box-shadow: 5px 5px 38px yellow;}
}
.btn-success:hover{
background-color:red;
}